################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/vcpkg
/aimodule/.vs/aimodule/v17
