################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/aimodule/.vs
/aimodule/protos
/client_python/protos
/aimodule/bin
